# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

**temp**

# NetBeans specific #
server/tomcat/nbproject/private/
server/tomcat/nbproject/genfiles.properties
server/tomcat/nbproject/build-impl.xml~
server/tomcat/build/
server/tomcat/nbbuild/
server/tomcat/nbdist/
server/tomcat/nbactions.xml
server/tomcat/nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.ear
/server/tomcat/majors_comm/target/
/server/tomcat/dist/
