.navloggedin-wrapper {
  display: contents;
}

.navloggedin-navloggedin {
  flex: 0 0 auto;
  width: 4%;
  height: 100%;
  display: flex;
  position: relative;
  min-width: var(--dl-size-size-medium);
  align-items: flex-start;
  flex-direction: column;
  background-color: #f5f5f5;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.navloggedin-logo {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: 50%;
  align-items: flex-start;
  margin-bottom: 3vh;
  flex-direction: column;
}

.navloggedin-menu {
  width: 100%;
  height: 75%;
  display: flex;
  align-self: center;
  margin-top: 20%;
  flex-direction: column;
}

.navloggedin-button1 {
  width: 75%;
  border: none;
  display: flex;
  align-self: center;
  background: none;
  transition: 0.3s;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 3vh;
  flex-direction: row;
}

.navloggedin-button1:hover {
  background-color: #DBD3D8;
}

.navloggedin-icon10 {
  align-self: center;
}

.navloggedin-button2 {
  width: 75%;
  border: none;
  display: flex;
  align-self: center;
  background: none;
  transition: 0.3s;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 3vh;
  flex-direction: row;
}

.navloggedin-button2:hover {
  background-color: #DBD3D8;
}

.navloggedin-icon12 {
  align-self: center;
}

.navloggedin-button3 {
  width: 75%;
  border: none;
  display: flex;
  align-self: center;
  background: none;
  transition: 0.3s;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 3vh;
  flex-direction: row;
}

.navloggedin-button3:hover {
  background-color: #DBD3D8;
}

.navloggedin-button4 {
  width: 75%;
  border: none;
  display: flex;
  align-self: center;
  background: none;
  transition: 0.3s;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 3vh;
  flex-direction: row;
}

.navloggedin-button4:hover {
  background-color: #DBD3D8;
}

.navloggedin-footer {
  width: 100%;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.navloggedin-button5 {
  width: 75%;
  border: none;
  display: flex;
  align-self: center;
  background: none;
  transition: 0.3s;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 3vh;
  flex-direction: row;
}

.navloggedin-button5:hover {
  background-color: #DBD3D8;
}

.navloggedin-icon18 {
  align-self: center;
}

.navloggedin-button6 {
  width: 75%;
  border: none;
  display: flex;
  align-self: center;
  background: none;
  transition: 0.3s;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 3vh;
  flex-direction: row;
}

.navloggedin-button6:hover {
  background-color: #DBD3D8;
}

.navloggedin-button7 {
  width: 75%;
  border: none;
  display: flex;
  align-self: center;
  background: none;
  transition: 0.3s;
  align-items: flex-end;
  aspect-ratio: 1/1;
  border-radius: 10px;
  margin-bottom: 3vh;
  flex-direction: row;
  justify-content: center;
}

.navloggedin-button7:hover {
  background-color: #DBD3D8;
}

.navloggedin-icon22 {
  align-self: center;
}

.manage-fragment2 {
  display: contents;
}

.manage-text11 {
  display: inline-block;
  font-size: 1.5em;
  align-self: center;
  font-family: "Satisfy";
}

.manage-fragment1 {
  display: contents;
}

.manage-text10 {
  display: inline-block;
  font-size: 1.5em;
  align-self: center;
  font-family: "Satisfy";
}

.manage-container10 {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}

.manage-container11 {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f5f5f5;
}

.manage-fragment1 {
  display: contents;
}

.manage-text10 {
  display: inline-block;
  font-size: 1.5em;
  align-self: center;
  font-family: "Satisfy";
}

.manage-fragment2 {
  display: contents;
}

.manage-text11 {
  display: inline-block;
  font-size: 1.5em;
  align-self: center;
  font-family: "Satisfy";
}

.manage-container12 {
  width: 95%;
  height: 100%;
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: center;
}

.manage-friend-container {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.manage-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 3px 3px #272525;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  background-color: #fffdfd;
}

.manage-container14 {
  width: 100%;
  height: 5%;
  display: flex;
  margin-top: 5%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.manage-text14 {
  font-size: 2em;
  align-self: center;
  font-style: normal;
  font-family: "Nunito";
  font-weight: 800;
}

.manage-search-form1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: center;
}

.manage-textinput1 {
  align-self: center;
  text-align: center;
  border-radius: 15px;
}

.manage-found-form {
  width: 90%;
  border: 1px solid black;
  padding: 1vh;
  align-self: center;
  border-radius: 15px;
  margin-bottom: 1vh;
}

.manage-container15 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}

.manage-image1 {
  height: 7.5vh;
  align-self: center;
  margin-right: 1vh;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.manage-text17 {
  align-self: center;
}

.manage-container16 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.manage-button1 {
  width: 5vw;
  margin-bottom: 1vh;
}

.manage-button2 {
  width: 5vw;
}

.manage-request-container {
  flex: 0 0 auto;
  width: 40%;
  display: flex;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

.manage-container17 {
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 3px 3px #272525;
  overflow-x: hidden;
  overflow-y: scroll;
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  background-color: #fffdfd;
}

.manage-container18 {
  width: 100%;
  height: 5%;
  display: flex;
  margin-top: 5%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.manage-text18 {
  font-size: 2em;
  align-self: center;
  font-style: normal;
  font-family: "Nunito";
  font-weight: 800;
}

.manage-search-form2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: center;
}

.manage-textinput2 {
  align-self: center;
  text-align: center;
  border-radius: 15px;
}

.manage-requested-form {
  width: 90%;
  border: 1px solid black;
  padding: 1vh;
  align-self: center;
  border-radius: 15px;
  margin-bottom: 1vh;
}

.manage-container19 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}

.manage-image2 {
  height: 7.5vh;
  margin-right: 1vh;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.manage-text21 {
  align-self: center;
}

.manage-container20 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.manage-button3 {
  width: 5vw;
  margin-bottom: 1vh;
}