.navguest-wrapper {
  display: contents;
}

.navguest-container1 {
  width: 90vw;
  display: flex;
  position: relative;
}

.navguest-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}

.navguest-container2 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navguest-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.navguest-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 50%;
  flex-direction: row;
  justify-content: center;
}

.navguest-burger-menu {
  display: none;
}

.navguest-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.navguest-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}

.navguest-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.navguest-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}

.navguest-logo {
  height: 2rem;
}

.navguest-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navguest-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.navguest-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.navguest-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.navguest-login {
  margin-right: var(--dl-space-space-twounits);
}

.navguest-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.navguest-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}

.navguest-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

.authentication-login-fragment18 {
  display: contents;
}

.authentication-login-text18 {
  display: inline-block;
  font-size: 1.5em;
  font-family: "Satisfy";
}

.authentication-login-fragment13 {
  display: contents;
}

.authentication-login-text13 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment17 {
  display: contents;
}

.authentication-login-text17 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment10 {
  display: contents;
}

.authentication-login-text10 {
  display: inline-block;
  font-family: "Nunito Sans";
}

.authentication-login-fragment12 {
  display: contents;
}

.authentication-login-text12 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment20 {
  display: contents;
}

.authentication-login-text20 {
  display: inline-block;
  font-family: "Nunito Sans";
  margin-left: var(--dl-space-space-twounits);
}

.authentication-login-fragment16 {
  display: contents;
}

.authentication-login-text16 {
  display: inline-block;
}

.authentication-login-fragment15 {
  display: contents;
}

.authentication-login-text15 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment14 {
  display: contents;
}

.authentication-login-text14 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment21 {
  display: contents;
}

.authentication-login-text21 {
  display: inline-block;
  font-size: 1.5em;
  font-family: "Satisfy";
}

.authentication-login-fragment19 {
  display: contents;
}

.authentication-login-text19 {
  display: inline-block;
  font-family: "Nunito Sans";
  margin-left: var(--dl-space-space-twounits);
}

.authentication-login-fragment11 {
  display: contents;
}

.authentication-login-text11 {
  display: inline-block;
  font-family: "Nunito Sans";
  margin-left: var(--dl-space-space-twounits);
}

.authentication-login-fragment22 {
  display: contents;
}

.authentication-login-text22 {
  display: inline-block;
}

@media(max-width: 767px) {
  .navguest-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }

  .navguest-desktop-menu {
    display: none;
  }

  .navguest-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navguest-text16 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .navguest-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navguest-text18 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navguest-text19 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .navguest-text20 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .authentication-login-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .authentication-login-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .authentication-login-text12 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .authentication-login-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .authentication-login-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

@media(max-width: 479px) {
  .navguest-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }

  .navguest-mobile-menu {
    padding: 16px;
  }
}

.authentication-login-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.authentication-login-fragment10 {
  display: contents;
}

.authentication-login-text10 {
  display: inline-block;
  font-family: "Nunito Sans";
}

.authentication-login-fragment11 {
  display: contents;
}

.authentication-login-text11 {
  display: inline-block;
  font-family: "Nunito Sans";
  margin-left: var(--dl-space-space-twounits);
}

.authentication-login-fragment12 {
  display: contents;
}

.authentication-login-text12 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment13 {
  display: contents;
}

.authentication-login-text13 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment14 {
  display: contents;
}

.authentication-login-text14 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment15 {
  display: contents;
}

.authentication-login-text15 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment16 {
  display: contents;
}

.authentication-login-text16 {
  display: inline-block;
}

.authentication-login-fragment17 {
  display: contents;
}

.authentication-login-text17 {
  display: inline-block;
  margin-bottom: var(--dl-space-space-unit);
}

.authentication-login-fragment18 {
  display: contents;
}

.authentication-login-text18 {
  display: inline-block;
  font-size: 1.5em;
  font-family: "Satisfy";
}

.authentication-login-fragment19 {
  display: contents;
}

.authentication-login-text19 {
  display: inline-block;
  font-family: "Nunito Sans";
  margin-left: var(--dl-space-space-twounits);
}

.authentication-login-fragment20 {
  display: contents;
}

.authentication-login-text20 {
  display: inline-block;
  font-family: "Nunito Sans";
  margin-left: var(--dl-space-space-twounits);
}

.authentication-login-fragment21 {
  display: contents;
}

.authentication-login-text21 {
  display: inline-block;
  font-size: 1.5em;
  font-family: "Satisfy";
}

.authentication-login-fragment22 {
  display: contents;
}

.authentication-login-text22 {
  display: inline-block;
}

.authentication-login-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.authentication-login-form {
  float: left;
  width: 20vw;
  padding: 20px;
  align-self: flex-start;
  margin-top: 9%;
  margin-left: 10vw;
}

.authentication-login-container3 {
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
  flex-direction: column;
  justify-content: center;
}

.authentication-login-text23 {
  width: 100%;
  font-size: 2.5em;
  font-family: "Courgette";
}

.authentication-login-text24 {
  width: 100%;
  font-size: 5em;
  font-family: "Satisfy";
}

.authentication-login-input {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
  flex-direction: column;
  justify-content: center;
}

.authentication-login-textinput {
  width: 100%;
  border: none;
  height: 5vh;
  border-radius: 10px;
  background-color: #ecefef;
}

.authentication-login-container4 {
  height: 1vh;
}

.authentication-login-container5 {
  display: contents;
}

.authentication-login-button1 {
  float: left;
  text-align: left;
  border-color: #888888;
  border-radius: 10px;
}

.authentication-login-text25 {
  color: rgb(64, 64, 64);
}

.authentication-login-button2 {
  float: right;
  width: fit-content;
  border: none;
}

.authentication-login-text28 {
  color: rgb(64, 64, 64);
}

.authentication-login-button3 {
  width: 100%;
  border: none;
  border-bottom: 1px solid #888888;
  border-radius: 0px;
  margin-bottom: 3vh;
}

.authentication-login-button4 {
  clear: botj;
  width: 100%;
  border-color: #888888;
  border-radius: 10px;
}

.authentication-login-text32 {
  color: rgb(64, 64, 64);
}

.authentication-login-icon1 {
  color: #404040;
  width: 24px;
  height: 24px;
}

.authentication-login-button5 {
  border: none;
  margin-top: 1vh;
}

.authentication-login-text35 {
  color: rgb(64, 64, 64);
}

.authentication-login-image {
  float: right;
  width: 70vh;
  align-self: flex-end;
  margin-top: 10vh;
  object-fit: cover;
  margin-left: 25vw;
  border-radius: 15px;
}

@media(max-width: 767px) {
  .authentication-login-text12 {
    margin-bottom: var(--dl-space-space-unit);
  }

  .authentication-login-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .authentication-login-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .authentication-login-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }

  .authentication-login-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}